################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/packages
ShoppingList*/obj/*
ShoppingList*/bin/*
ShoppingList*/packages
ShoppingList*/.vs/*
